@font-face {
	src: url(fonts/HKGrotesk-Medium.ttf);
	font-family: HK-med;
}

body{
	font-family: HK-med;
	font-size: 32px;
	line-height: 1.2;
}



.container{
	width: 80%;
	margin: auto;
	padding-top: 5%;
}

.image{
	width: 100%;
}