@font-face {
	src: url(fonts/HKGrotesk-Medium.ttf);
	font-family: HK-med;
}

h1{
	font-family: Times New Roman;
	font-size: 100;
	line-height: 1.2;
	font-weight: normal;
	color: blue;
}

h2{
	font-family: Times New Roman;
	font-size: 100;
	line-height: 1.2;
	font-weight: normal;
	color: black;
}

p{
	font-family: Helvetica;
	font-size: 50;
	line-height: 1.2;
	margin-left: 50px;
}

a{
	text-decoration: none;
	color: blue;
}

a:hover{
	text-decoration: underline;
}

mark{
	background-color: blue;
	color: white;
}

.container{
	width: 550px;
	margin-left: 200px;
	padding-top: 40px;
}

.image{
	width: 100%;
}

.fixed-header{
	width: 150px;
	position: fixed;
	padding: 10px;
	z-index: 1;
}